/* Importing GOOGLE FONT: Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c9ced3;
    font-family: Spartan, sans-serif;
    font-size: 1.2rem;
}

.player-container {
    height: 52rem;
    width: 40rem;
    background: #e7e7e7;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 3rem .5rem rgba(0, 0, 0, .3);
}

.img-container {
    height: 30rem;
    width: 30rem;
    position: relative;
    top: -5rem;
    left: 5rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 .5rem 3rem .5rem rgba(0, 0, 0, .5);
}

/* TITLE */
h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

/* ARTIST */
h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}

/* PROGRESS */
.progress-container {
    background: white;
    border-radius: .5rem;
    height: .4rem;
    margin: 4rem 2rem;
    width: 90%;
    cursor: pointer;
}

.progress {
    background: #242323;
    border-radius: .5rem;
    height: 100%;
    /* Change this to show progress */
    width: 0%;
    transition: width 0.1s linear;
}

/* Duration Wrapper */
.duration-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -2.5rem;
}

/* Controls */
.player-controls {
    position: relative;
    top: -1.5rem;
    left: 12rem;
    width: 20rem;
}

.fas {
    font-size: 3rem;
    color: rgb(129, 129, 129);
    margin-right: 3rem;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

.fa-volume-down,
.fa-volume-up,
.fa-volume-mute {
    font-size: 1.5rem;
}

.fa-volume-down,
.fa-volume-mute {
    margin-right: 1rem;
}

.fa-volume-up {
    margin-left: 1rem;
}

.fa-volume-mute {
    color: red;
}


.main-button {
  font-size: 4rem;
  position: relative;
  top: .3rem;
}

.volume-control-container {
    display: flex;
    align-content: space-between;
    width: 50%;
    position: relative;
    left: 12rem;
    top: .5rem;
    margin-right: 0;
}

.volume-line-container {
    height: .4rem;
    border-radius: .5rem;
    width: 90%;
    align-self: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    overflow-x: hidden;
}

.volume {
    height: 100%;
    background: black;
    border-radius: .5rem;
    width: 0%;
    transition: width 0.1s linear;
}

/* Media Query: iphone (vertical) */
@media screen and (max-width: 37.6rem) {
    .player-container {
        width: 95vw;
    }
    
    .img-container {
        left: 2.9rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    .player-controls {
        top: -1rem;
        left: 10rem;
    }
}