/* Importing GOOGLE FONT: Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c9ced3;
    font-family: Spartan, sans-serif;
    font-size: 12px;
}

.player-container {
    height: 520px;
    width: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, .3);
}

.img-container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, .5);
}

/* TITLE */
h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

/* ARTIST */
h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}

/* PROGRESS */
.progress-container {
    background: white;
    border-radius: 5px;
    height: 4px;
    margin: 40px 20px;
    width: 90%;
    cursor: pointer;
}

.progress {
    background: #242323;
    border-radius: 5px;
    height: 100%;
    /* Change this to show progress */
    width: 0%;
    transition: width 0.1s linear;
}

/* Duration Wrapper */
.duration-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25px;
}

/* Controls */
.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

.fa-volume-down,
.fa-volume-up,
.fa-volume-mute {
    font-size: 15px;
}

.fa-volume-down,
.fa-volume-mute {
    margin-right: 10px;
}

.fa-volume-up {
    margin-left: 10px;
}

.fa-volume-mute {
    color: red;
}


.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.volume-control-container {
    display: flex;
    align-content: space-between;
    width: 50%;
    position: relative;
    left: 120px;
    top: 5px;
    margin-right: 0;
}

.volume-line-container {
    height: 4px;
    border-radius: 5px;
    width: 90%;
    align-self: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    overflow-x: hidden;
}

.volume {
    height: 100%;
    background: black;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear;
}

/* Media Query: iphone (vertical) */
@media screen and (max-width: 376px) {
    .player-container {
        width: 95vw;
    }
    
    .img-container {
        left: 29px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 15px;
    }
    
    .player-controls {
        top: -10px;
        left: 100px;
    }
}